.separator {
  background-color: hsl(var(--border));
}

.horizontal {
  height: 1px;
  width: 100%;
  margin-block: var(--space-md);
}

.vertical {
  height: 100%;
  margin-inline: var(--space-md);
  width: 1px;
}

.wrapper {
  display: flex;
  align-items: center;
  user-select: none;
}
