.input {
  display: flex;
  height: 40px;
  width: 100%;
  border: 1px solid hsl(var(--input));
  border-radius: var(--radius);
  background-color: transparent;
  padding-inline: var(--space-sm);
  font-size: var(--font-size-md);
  color: hsl(var(--foreground));

  &:focus {
    outline: none;
    border-color: hsl(var(--ring));
    box-shadow: 0 0 0 1px hsl(var(--ring));
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &::placeholder {
    color: hsl(var(--muted-foreground));
  }
}
